{% extends 'base.html.twig' %}

{% block title %}Modifier vétérinaire{% endblock %}

{% block body %}
    <h1>Modifier un vétérinaire</h1>

    {{ include('veterinary/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('veterinary/_delete_form.html.twig') }}

    <a href="{{ path('app_veterinary_index') }}"> Retour à la liste</a>


{% endblock %}
