{% extends 'base.html.twig' %}

{% block title %}Nouvel objectif{% endblock %}

{% block body %}
    <h1>Créer un nouvel objectif</h1>

    {{ include('goal/_form.html.twig') }}

    <a href="{{ path('app_goal_index') }}"><i class="bi bi-chevron-left"></i>&nbsp; retour à la liste</a>
{% endblock %}
